.logo{
    width: 500px;
}

body{
    background-color: #000000;
    font-family: 'Barlow', sans-serif;
}
main{
    height: 100vh;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container-banner{
    width: 90%;
    height: 80%;
    background-image: url("../img/imagem_fundo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

.container-texto-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 150px;
    width: 80%;
    height: 100%;
}

.container-banner h1,p{
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color: #FFF;
    font-weight: bold;
}


.container-hamburgueria, .container-almoco{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-hamburgueria-titulo, .container-almoco-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-hamburgueria-titulo h3, .container-almoco-titulo h3{
    font-size: 32px;
    color: #EBC181;
    text-align: center;
    margin: 15px 0px 5px;
}

.container-hamburgueria-produtos, .container-almoco-produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #EBC181 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
}

.container-produto img{
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.container-produto p{
    margin: 10px 0;
    text-align: center;
}

.container-produto p:nth-child(4){
    color: #9B8357;
    font-size: 18px;
    font-weight: 600;
}

.container-produto p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}

.ornaments{
    width: 200px;
}
.carrinho-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.carrinho-container i {
    font-size: 120px; /* Tripliquei o tamanho do ícone */
    color: #e74c3c; /* Cor vermelha */
}
.carrinho-contador {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #c0392b; /* Cor de fundo do contador (vermelho escuro) */
    color: #fff; /* Cor do texto do contador */
    border-radius: 50%;
    padding: 10px 15px; /* Aumentei o padding para combinar com o tamanho maior do ícone */
    font-size: 24px; /* Tamanho do texto do contador */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra mais visível */
}
.mensagem-carrinho {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745; /* Cor verde para a mensagem de sucesso */
    color: #fff; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve para destaque */
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
}


